body {
	//width: @content-width;
}
.text-success {
	color: @c4;
}
.text-info {
	color: @c2;
}
#page-header {
	position: relative;
	z-index: 999;
	background: #000;
	&:before, &:after {
		content: '';
		position: absolute;
		top: 100%;
		right: 0;
		border-top: 150px solid @c3;
		border-right: 3000px solid transparent;
	}
	&:after{
		border-top: 100px solid #000;
	}
	.header_top {
		padding: 15px 0;
		background: #242424;
	}
	.container {
		z-index: 1;
	}
	.logo {
		float: left;
		width: 37%;
		padding: 35px 55px 5px 0;
		margin: 0;
		@media @md {
			padding-right: 20px;
		}
		@media @sm {
			width: auto;
			text-align: center;
			margin: 0 20%;
			padding: 30px 0;
		}
		@media @xs {
			float: none;
			width: auto;
			text-align: center;
			padding: 20px 0;
		}
		a {
			img {
				display: block;
			}
		}
	}
}
#col-top {
	position: relative;
	overflow: hidden;
	padding: 75px 0 30px;
	background: #8f8f8f url(../images/bg/01.png) top;
	@media @md {
		background-size: 460px auto;
		background-position: center 15px;
	}
	@media @sm {
		background-size: 320px auto;
		background-position: center 30px;
	}
	.homepage & {
		&:before{
			content: '';
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 170px;
			height: 38px;
			margin: 0 0 0 -3085px;
			border-left: 3000px solid #ededed;
			border-right: 3000px solid #ededed;
			-webkit-box-sizing: initial;
			-moz-box-sizing: initial;
			box-sizing: initial;
		}
		&:after{
			content: '';
			position: absolute;
			left: 50%;
			bottom: 0;
			margin: 0 0 0 -85px;
			border: 85px solid transparent;
			border-top-width: 38px;
			border-bottom-width: 0;
			border-left-color: #ededed;
			border-right-color: #ededed;
		}
	}
}
#container {
	position: relative;
	padding: 20px 0 50px;
	background: #ededed;
	background: -moz-linear-gradient(top,  #ededed 0%, #ffffff 100%);
	background: -webkit-linear-gradient(top,  #ededed 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #ededed 0%,#ffffff 100%);
	background-repeat: repeat-x;
	background-size: auto 400px;
}
#col-left {
	float: left;
	width: 265px;
	margin: 0 0 50px;
	@media @sm, @xs {
		width: auto;
		float: none;
	}
}
#col-main {
	width: 810px;
	float: right;
	margin: 0 0 50px;
	@media @md {
		width: 600px;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
	}
}
.mod_menu-top {
	ul {
		.rul;
		@media @sm, @xs {
			text-align: center;
		}
		li {
			.rli;
			display: inline-block;
			margin: 0 39px 0 0;
			font-size: 15px;
			line-height: 1.2;
			@media @sm {
				margin: 0 20px;
			}
			@media @xs {
				margin: 0 10px;
			}
			a {
				color: #fff;
			}
		}
	}
}
.mod_search {
	.clearfix;
	float: left;
	width: 34%;
	padding: 43px 0 5px;
	@media @sm {
		width: 66.6666%;
		padding-right: 15px;
	}
	@media @xs {
		width: auto;
		float: none;
		padding: 20px 0;
	}
	input[type="text"], input[type="search"] {
		.transition(0.2s);
		.placeholder(#000);
		border: 0;
		background: @c3;
		float: left;
		height: 45px;
		padding: 0 20px;
		font-size: 18px;
		margin: 0 -55px 0 0;
		&:hover, &:focus {
			background: #fff;
		}
	}
	button {
		position: relative;
		float: left;
		padding: 0;
		height: 45px;
		width: 55px;
		font-size: 0;
		line-height: 1;
		background: none;
		color: @c2;
		&:hover{
			color: @c1;
		}
		&:before{
			.fi;
			content: '\e808';
			font-size: 28px;
		}
	}
}
.mod_custom-basket {
	float: left;
	width: 29%;
	padding: 0 0 0 60px;
	margin: 0 0 -10px;
	@media @sm {
		width: 33.3333%;
		padding-left: 15px;
		margin: 0;
	}
	@media @md {
		padding-left: 20px;
	}
	@media @xs {
		float: none;
		width: auto;
		padding: 0;
		margin: 0 0 20px;
	}
	a {
		position: relative;
		display: block;
		padding: 56px 47px 0;
		text-decoration: none;
		color: #fff;
		background: #222222;
		background: -moz-linear-gradient(top,  #000000 0%, #222222 100%);
		background: -webkit-linear-gradient(top,  #000000 0%,#222222 100%);
		background: linear-gradient(to bottom,  #000000 0%,#222222 100%);
		@media @sm {
			padding: 25px;
		}
		@media @xs {
			padding: 20px;
			text-align: center;
			background: @c2;
		}
		&:hover{
			.mod-title {
				color: @c2;
				@media @xs {
					color: @c1;
				}
			}
			.price {
				color: @c2;
				@media @xs {
					color: @c1;
				}
			}
		}
		&:before{
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			right: 53px;
			height: 53px;
			background: #222222;
			background: -moz-linear-gradient(top,  #222222 0%, #3f3f3f 100%);
			background: -webkit-linear-gradient(top,  #222222 0%,#3f3f3f 100%);
			background: linear-gradient(to bottom,  #222222 0%,#3f3f3f 100%);
			@media @sm, @xs {
				display: none;
			}
		}
		.mod-title {
			font-weight: 300;
			font-size: 18px;
			line-height: 1.2;
			margin: 0 0 10px;
			text-transform: uppercase;
		}
		.price {
			color: @c3;
			font-size: 19px;
			line-height: 1;
			white-space: nowrap;
			&:before, &:after{
				content: '';
				position: absolute;
				z-index: 1;
				top: 100%;
				right: 0;
				border-left: 53px solid #636363;
				border-bottom: 53px solid transparent;
				@media @sm, @xs {
					display: none;
				}
			}
			&:after {
				.rotate(-10deg);
				z-index: 0;
				margin: -5px 5px 0 0;
				border-left-color: #222;
			}
			strong {
				font-size: 21px;
				font-weight: 900;
			}
		}
	}
}
.mod_custom-slideshow {
	position: relative;
	margin: -20px 0;
	.items {
		overflow: hidden;
		.item {
			display: none;
			&:first-of-type {
				display: block;
			}
			&.cycle-slide {
				figure {
					img {
						.transition(1s);
						min-width: 110%;
						margin: -35px 0 0;
					}
				}
				.content {
					h2 {
						.transition(0.6s);
						position: relative;
						left: 80px;
					}
					p {
						.transition(1s);
						position: relative;
						left: 100px;
					}
					.price {
						.transition(1.2s);
						left: 120px;
						.discount {
							.transition(0.6s);
							.rotate(-10deg);
						}
					}
				}
			}
			&.cycle-slide-active {
				figure {
					img {
						min-width: 100%;
						margin: 0;
					}
				}
				.content {
					h2, p {
						left: 0;
					}
					.price {
						left: 0;
						.discount {
							.rotate(7deg);
						}
					}
				}
			}
			a {
				.clearfix;
				display: block;
				padding: 0 0 22px;
				text-decoration: none;
				color: #fff;
				@media @sm {
					padding: 0 0 50px;
				}
				@media @xs {
					padding: 0 0 80px;
				}
				figure {
					position: relative;
					overflow: hidden;
					left: 80px;
					width: 660px;
					height: 460px;
					padding: 3% 3.1% 0 2.7%;
					margin: 0 0 0 -40px;
					float: right;
					@media @md {
						width: 490px;
						height: 334px;
						left: 78px;
					}
					@media @sm {
						width: 350px;
						height: 243px;
						left: 60px;
					}
					@media @xs {
						width: auto;
						height: auto;
						padding: 0;
						float: none;
						left: 0;
						margin: 0 0 20px;
					}
					&:before{
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						background: url(../images/bg/02.png) no-repeat;
						-webkit-background-size: cover;
						-moz-background-size: cover;
						background-size: cover;
						@media @xs {
							display: none;
						}
					}
					img {
						display: block;
					}
				}
				.content {
					position: relative;
					float: left;
					width: 470px;
					padding: 92px 0 0 70px;
					margin: 0 0 0 0;
					font-size: 18px;
					@media @md {
						padding-top: 60px;
						width: 420px;
						font-size: 16px;
					}
					@media @sm {
						width: 350px;
						padding: 10px 0 0;
						margin: 0;
						font-size: 16px;
					}
					@media @xs {
						float: none;
						width: auto;
						padding: 0;
						margin: 0;
						font-size: 16px;
					}
					h2 {
						text-transform: uppercase;
						font-weight: 900;
						font-size: 36px;
						margin: 0 0 20px;
						@media @md {
							font-size: 26px;
						}
						@media @sm {
							font-size: 24px;
						}
						@media @xs {
							font-size: 20px;
							margin: 0 0 10px;
						}
					}
					.price {
						position: relative;
						padding: 18px 35px 25px;
						margin: 30px 110px 0 0;
						line-height: 1.2;
						background: #000;
						@media @md  {
							margin: 0 80px 0 0;
							padding: 10px 25px 15px;
							font-size: 14px;
						}
						@media @sm {
							margin: 0 80px 0 0;
							padding: 20px;
							font-size: 13px;
						}
						@media @xs {
							font-size: 13px;
							margin: 0 60px 0 0;
							padding: 20px 40px 20px 20px;
						}
						mark {
							display: block;
							color: @c3;
							font-size: 36px;
							white-space: nowrap;
							margin: 0 0 6px;
							@media @sm, @xs {
								font-size: 28px;
							}
							strong {
								font-weight: 900;
							}
						}
						.discount {
							.rotate(7deg);
							position: absolute;
							left: 100%;
							bottom: 0;
							margin: 0 0 -30px -20px;
							@media @sm, @xs {
								margin: 0 0 -10px -20px;
							}
							&:before{
								.rotate(5deg);
								content: '';
								position: absolute;
								top: 10px;
								right: -15px;
								bottom: 0;
								left: 5px;
								background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
								background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
								background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
							}
							mark {
								position: relative;
								display: block;
								width: 110px;
								height: 110px;
								line-height: 110px;
								color: #fff;
								text-align: center;
								font-size: 36px;
								background: #e65400;
								background: -moz-linear-gradient(-45deg,  #fea600 0%, #e65400 100%);
								background: -webkit-linear-gradient(-45deg,  #fea600 0%,#e65400 100%);
								background: linear-gradient(135deg,  #fea600 0%,#e65400 100%);
								@media @md {
									width: 80px;
									height: 80px;
									line-height: 80px;
									font-size: 26px;
								}
								@media @sm, @xs {
									width: 60px;
									height: 60px;
									line-height: 60px;
									font-size: 18px;
								}
							}
							strong {
								font-weight: 900;
							}
						}
					}
				}
			}
		}
	}
	.pager {
		position: absolute;
		z-index: 101;
		top: 432px;
		right: 48px;
		@media @md {
			right: 8px;
			top: 314px;
		}
		@media @sm {
			top: 224px;
			right: 7px;
		}
		@media @xs {
			top: auto;
			bottom: 20px;
			right: 0;
			width: 100%;
			text-align: center;
		}
		span {
			.border-radius(50%);
			display: inline-block;
			text-indent: -9999px;
			width: 16px;
			height: 16px;
			margin: 0 0 0 5px;
			border: 3px solid #343434;
			background: #000;
			cursor: pointer;
			@media @sm {
				margin: 0 0 0 2px;
			}
			@media @xs {
				margin: 0 2px;
			}
			&.cycle-pager-active {
				background: @c3;
			}
		}
	}
	.prev, .next {
		position: absolute;
		z-index: 101;
		left: -98px;
		top: 39%;
		color: #fff;
		font-size: 96px;
		line-height: 1;
		&:hover{
			text-shadow: 0 0 20px #000;
		}
		&:before{
			.fi;
			content: '\e817';
		}
	}
	.next {
		left: auto;
		right: -98px;
		&:before{
			content: '\e818';
		}
	}
}
.mod_menu-category {
	position: relative;
	z-index: 999;
	margin: 20px 0 22px;
	ul {
		.rul;
		.clearfix;
		margin: 0 -10px;
		li {
			.rli;
			float: left;
			width: 16.6666%;
			padding: 0 10px;
			margin: 0 0 20px;
			@media @sm {
				width: 33.3333%;
			}
			@media @xs {
				width: 50%;
			}
			&:before, &:after {
				content: '';
				position: absolute;
				left: 10px;
				top: 100%;
				right: 10px;
				height: 12px;
				background: url(../images/bg/03.png) no-repeat top;
				background-size: 100% 100%;
			}
			a {
				.transition(0.2s);
				position: relative;
				overflow: hidden;
				display: block;
				padding: 0 0 100%;
				text-align: center;
				color: #000;
				text-decoration: none;
				background: @c3;
				&:hover{
					[class^="icon-"] {
						bottom: 48%;
					}
					mark {
						bottom: 18%;
					}
				}
				&:before{
					.transition(0.6s);
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -600px 0 0 -600px;
					border: 600px solid transparent;
					border-top-color: fade(#fff,20%);
					border-bottom-color: fade(#000,5%);
				}
				[class^="icon-"] {
					.transition(0.2s);
					position: absolute;
					bottom: 50%;
					left: 50%;
					margin: 0 0 0 -60px;
					width: 120px;
					height: 70px;
					line-height: 70px;
					font-size: 70px;
					@media @md {
						font-size: 50px;
					}
				}
				mark {
					.transition(0.2s);
					position: absolute;
					left: 7%;
					right: 7%;
					bottom: 16%;
					font-size: 21px;
					line-height: 1.1;
					@media @md {
						font-size: 18px;
					}
				}
			}
		}
	}
}
.eshop-items {
	.mod-title {
		font-size: 36px;
		line-height: 1.2;
		font-weight: 900;
		text-transform: uppercase;
		margin: 0 0 30px;
	}
	.eshop-title {
		.clearfix;
		h1 {
			float: left;
			margin: 0 0 20px;
			@media @xs {
				float: none;
			}
		}
		.show {
			float: right;
			font-size: 14px;
			margin: 20px 30px 25px 20px;
			@media @xs {
				margin: 0;
				float: none;
				margin: 0 0 20px;
			}
		}
	}
	.eshop-filter {
		.clearfix;
		padding: 23px 25px;
		margin: 0 0 20px -25px;
		background: #fff;
		.form_left {
			float: left;
			width: 50%;
			@media @xs {
				width: auto;
				float: none;
				margin: 0 0 20px;
			}
		}
		.form_right {
			float: right;
			width: 50%;
			text-align: right;
			font-size: 15px;
			@media @xs {
				width: auto;
				float: none;
				text-align: left;
			}
		}
		.input_label {
			display: inline-block;
			vertical-align: top;
			label {
				text-transform: uppercase;
				font-size: 15px;
				font-weight: 600;
				margin: 0 15px 0 5px;
				&.label-sh {
					color: @c2;
				}
				&.label-new {
					color: @c4;
				}
			}
		}
		ul {
			.rul;
			display: inline-block;
			li {
				.rli;
				display: inline-block;
				margin: 0 0 0 5px;
				@media @xs {
					margin: 0 5px 0 0;
				}
				&.act {
					a {
						color: @c2;
						text-decoration: none;
						font-weight: 600;
					}
				}
				a {
					color: @c1;
					[class^="icon-"] {
						float: right;
						font-size: 28px;
						font-weight: normal;
						line-height: 1;
						margin: -2px 0 0 5px;
						&:before{
							margin: 0;
						}
					}
				}
			}
		}
	}
	.row-items {
		margin: 0 -10px;
		#col-main & {
			margin-left: -33px;
			@media @xs {
				margin: 0 -10px;
			}
		}
		.item {
			display: inline-block;
			vertical-align: top;
			margin: 0 -2px 17px;
			width: 25%;
			padding: 0 10px;
			@media @md {
				width: 33.3333%;
			}
			@media @sm {
				width: 50%;
			}
			@media @xs {
				width: 100%;
			}
			#col-main & {
				width: 33.3333%;
				@media @md, @sm {
					width: 50%;
				}
				@media @xs {
					display: block;
					margin-left: 0;
					margin-right: 0;
					width: auto;
				}
			}
			a {
				.transition(0.2s);
				.clearfix;
				position: relative;
				display: block;
				padding: 28px 28px 39px;
				color: @c1;
				text-decoration: none;
				background: #fff;
				border-bottom: 1px solid #b2b2b2;
				&:hover{
					background: #f2f2f2;
					nav{
						color: #fff;
						background: @c2;
					}
				}
				figure {
					position: relative;
					margin: 0 0 22px;
					img {
						display: block;
						margin: auto;
					}
					.labels {
						.clearfix;
						position: absolute;
						bottom: 0;
						left: 0;
						.label {
							position: relative;
							float: left;
							color: #fff;
							font-size: 14px;
							line-height: 30px;
							height: 30px;
							padding: 0 18px;
							margin: 0 0 0 15px;
							text-transform: uppercase;
							background: @c2;
							&.label-new {
								background: @c4;
								&:before{
									background: @c4;
								}
								&:after{
									border-right-color: darken(@c4,5%);
								}
							}
							&:before{
								content: '';
								position: absolute;
								right: 100%;
								bottom: 0;
								width: 15px;
								height: 15px;
								background: @c2;
							}
							&:after{
								content: '';
								position: absolute;
								right: 100%;
								top: 0;
								border-top: 15px solid transparent;
								border-right: 15px solid darken(@c2,5%);
							}
						}
					}
				}
				h2 {
					text-transform: uppercase;
					font-size: 18px;
					font-weight: bold;
				}
				.description {
					font-size: 14px;
					line-height: 1.3;
					margin: 0 0 14px;
				}
				.price {
					float: left;
					width: 78%;
					line-height: 1;
					font-size: 28px;
					color: @c2;
					strong {
						font-weight: 900;
					}
				}
				nav {
					.transition(0.2s);
					position: absolute;
					bottom: 28px;
					right: 0;
					text-align: center;
					height: 46px;
					line-height: 46px;
					text-transform: uppercase;
					font-size: 14px;
					letter-spacing: -0.03em;
					font-weight: bold;
					padding: 0 13px;
					background: @c3;
					border-right: 4px solid fade(#000,8%);
					&:before{
						content: '';
						position: absolute;
						right: 0;
						top: 0;
						border: 23px solid fade(#000,8%);
						border-right-width: 0;
						border-left: 10px solid transparent;
					}
				}
			}
		}
	}
}
.detail-image {
	.clearfix;
	width: 50%;
	float: left;
	padding: 0 15px 0 0;
	margin: 0 0 60px;
	@media @md {
		float: none;
		width: auto;
		margin: 0 0 30px;
	}
	@media @sm {
		width: 40%;
	}
	@media @xs {
		width: auto;
		padding: 0;
		float: none;
	}
	figure {
		@media @md {
			float: left;
			width: 50%;
			padding: 10px 10px 10px 0;
		}
		img {
			display: block;
		}
	}
	.thumbnails {
		.rul;
		.clearfix;
		margin: 10px -5px;
		@media @md {
			width: 50%;
			float: left;
		}
		li {
			.rli;
			float: left;
			width: 25%;
			padding: 0 5px 10px;
			@media @md {
				width: 50%;
			}
			a {
				img {
					display: block;
				}
			}
		}
	}
}
.detail-description {
	width: 50%;
	float: left;
	padding: 0 0 0 25px;
	margin: 0 0 60px;
	@media @md {
		float: none;
		width: auto;
	}
	@media @sm {
		width: 60%;
	}
	@media @xs {
		width: auto;
		float: none;
		padding: 0;
	}
	h1 {
		margin: 0 0 20px;
	}
	table.info {
		margin: 30px 0;
		tr {
			th, td {
				font-weight: normal;
				padding: 0 0 6px;
				vertical-align: top;
			}
			th {
				padding-right: 50px;
			}
		}
	}
	table.price {
		margin: 30px 0 25px;
		tr {
			th, td {
				font-weight: normal;
				padding: 0 0 8px;
				vertical-align: bottom;
				mark {
					color: @c2;
					strong {
						font-size: 36px;
						font-weight: 900;
					}
				}
			}
			td {
				line-height: 1.2;
				font-size: 28px;
			}
		}
	}
	.basket {
		.clearfix;
		input[type="text"], input[type="number"] {
			width: 25%;
			float: left;
			margin: 10px 0 0;
			height: 53px;
			text-align: center;
			font-size: 18px;
			@media @xs {
				width: 80%;
			}
		}
		span {
			float: left;
			width: 15%;
			line-height: 72px;
			font-weight: 600;
			text-align: center;
			@media @xs {
				width: 20%;
				text-align: left;
				padding: 0 0 0 10px;
			}
		}
		button {
			float: left;
			width: 60%;
			padding: 0;
			color: #fff;
			font-size: 24px;
			font-weight: 900;
			height: 74px;
			background: @c5;
			@media @xs {
				float: none;
				width: 100%;
			}
			&:hover{
				background: darken(@c5,5%);
			}
			&:before{
				.fi;
				content: '\e813';
				font-weight: normal;
				font-size: 36px;
				margin: 0 14px 0 0;
			}
		}
	}
}
.mod_custom-contact {
	position: relative;
	overflow: hidden;
	background: @c3;
	&:before{
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 22px;
		background: url(../images/bg/03.png) no-repeat top;
		@media @md, @sm, @xs {
			background-size: 100% 100%;
		}
	}
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 34.5%;
		background: url(../images/map/01.jpg) no-repeat center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		@media @sm, @xs {
			position: static;
			display: block;
			width: auto;
			padding: 0 0 50%;
		}
	}
	.content {
		margin: 8.3% 0 7.2% 39.3%;
		width: 33.4%;
		float: left;
		@media @md {
			margin-top: 5%;
			margin-bottom: 5%;
		}
		@media @sm {
			margin-left: 0;
			width: 50%;
		}
		@media @xs {
			float: none;
			width: 100%;
			margin: 50px 0;
		}
		&:before{
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 28%;
			background: -moz-linear-gradient(left,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
			background: -webkit-linear-gradient(left,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
			background: linear-gradient(to right,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
			@media @sm {
				width: 45%;
			}
			@media @xs {
				display: none;
			}
		}
		&:after{
			content: '';
			position: absolute;
			left: 72%;
			bottom: 0;
			border-right: 65px solid transparent;
			border-top: 600px solid @c3;
			@media @sm, @xs {
				display: none;
			}
		}
		.mod-title {
			font-weight: 900;
			text-transform: uppercase;
			font-size: 24px;
			line-height: 1.2;
			margin: 0 0 20px;
			@media @md {
				font-size: 20px;
			}
		}
		.address {
			position: relative;
			padding: 0 0 0 48px;
			font-size: 18px;
			line-height: 1.4;
			font-weight: 600;
			margin: 0 0 12px;
			@media @md {
				font-size: 16px;
			}
			&:before{
				.fi;
				content: '\e80b';
				position: absolute;
				left: 2px;
				top: 0;
				font-size: 48px;
				line-height: 1;
				color: @c2;
			}
			mark {
				color: @c2;
			}
		}
		.contact {
			position: relative;
			padding: 0 0 0 48px;
			font-size: 17px;
			line-height: 1.45;
			margin: 0 0 20px;
			@media @md {
				font-size: 16px;
			}
			&:before{
				.fi;
				content: '\e80c';
				position: absolute;
				left: 2px;
				top: 3px;
				font-size: 58px;
				line-height: 1;
				color: @c2;
			}
			mark {
				font-size: 23px;
				letter-spacing: 0.04em;
				color: @c2;
				@media @md {
					font-size: 20px;
				}
			}
			a {
				color: @c1;
				margin: 0 0.5em;
			}
		}
		.openhours {
			position: relative;
			padding: 0 0 0 48px;
			font-size: 18px;
			line-height: 1.2;
			@media @md {
				font-size: 16px;
			}
			&:before{
				.fi;
				content: '\e80d';
				position: absolute;
				left: -2px;
				top: 3px;
				font-size: 42px;
				line-height: 1;
				color: @c2;
			}
			table {
				tr {
					th, td {
						padding: 0 0 5px;
					}
					th {
						padding-right: 20%;
						white-space: nowrap;
					}
				}
			}
		}
	}
	.list {
		float: left;
		width: 27.3%;
		margin: 10.1% 0 0;
		@media @md {
			margin: 8% 0 0;
		}
		@media @sm {
			width: 50%;
		}
		@media @xs {
			float: none;
			width: auto;
		}
		ul {
			.rul;
			li {
				.rli;
				overflow: hidden;
				margin: 0 0 17px;
				background: @c3;
				a {
					.transition(0.2s);
					display: block;
					color: #fff;
					padding: 20px 5px 19px 102px;
					font-size: 17px;
					line-height: 1.2;
					text-transform: uppercase;
					text-decoration: none;
					background: #000;
					@media @md {
						font-size: 15px;
						padding-left: 70px;
					}
					@media @xs {
						padding-left: 30px;
					}
					&:hover{
						background: @c2;
					}
					&:before{
						content: '';
						position: absolute;
						left: 0;
						top: 50%;
						margin: -150px 0 0;
						border: 150px solid transparent;
						border-left: 78px solid @c3;
						border-right-width: 0;
						@media @md {
							left: -25px;
						}
						@media @xs {
							left: -63px;
						}
					}
				}
			}
		}
	}
}
.mod_menu-footer {
	padding: 50px 0 43px;
	background: #242424;
	ul {
		.rul;
		text-align: center;
		li {
			.rli;
			display: inline-block;
			vertical-align: top;
			margin: 0 23px;
			font-weight: 600;
			font-size: 15px;
			line-height: 1.4;
			text-transform: uppercase;
			@media @md, @xs {
				margin: 0 10px;
			}
			a {
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-sidebar {
	margin: 0 0 55px;
	@media @sm {
		float: left;
		width: 50%;
		padding: 0 15px 0 0;
	}
	&>ul {
		.rul;
		&>li {
			.rli;
			margin: 0 0 12px;
			&:before{
				font-size: 24px;
				top: 2px;
			}
			&.act {
				&>a {
					color: @c2;
					font-weight: 600;
				}
			}
			&>a {
				.transition(0.2s);
				display: block;
				position: relative;
				font-size: 24px;
				line-height: 1.1;
				font-weight: 300;
				text-decoration: none;
				color: @c1;
				margin: 0 0 2px;
				padding: 5px 20px 5px 16px;
				&:before{
					.fi;
					.transition(0.2s);
					content: '\e811';
					position: absolute;
					top: 7px;
					line-height: 1;
					left: 0;
					font-weight: normal;
				}
				&:hover{
					background: @c3;
					&:before{
						left: 7px;
					}
				}
			}
			&>ul {
				.rul;
				margin: 0 0 20px;
				&>li {
					.rli;
					&:before{
						display: none;
					}
					&>a {
						position: relative;
						display: block;
						text-transform: uppercase;
						color: @c1;
						text-decoration: none;
						line-height: 1.1;
						padding: 10px 10px 9px 20px;
						&:hover{
							background: @c3;
						}
					}
					&.act {
						&>a {
							font-weight: 600;
							color: #fff;
							background: @c2;
						}
					}
					&>ul {
						.rul;
						padding: 20px 20px 10px 40px;
						margin: 0 0 9px;
						background: #f4f4f4;
						&>li {
							padding: 0 0 0 9px;
							line-height: 1.1;
							margin: 0 0 13px;
							&.act {
								&:before{
									color: @c2;
								}
								a {
									color: @c2;
									font-weight: 600;
								}
							}
							&>a {
								color: @c1;
								text-decoration: none;
								&:hover{
									text-decoration: underline;
								}
							}
						}
					}
				}
			}
		}
	}
}
.mod_breadcrumbs {
	ul {
		.rul;
		li {
			display: inline-block;
			color: #fff;
			padding: 0 0 0 10px;
			margin: 0 8px 0 0;
			font-weight: 600;
			&:before{
				top: 4px;
				font-weight: normal;
			}
			&.home {
				padding-left: 35px;
				&:before{
					content: '\e80e';
					font-size: 28px;
					left: -3px;
					top: -4px;
				}
			}
			a {
				color: #fff;
				font-weight: 300;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-viewed {
	margin: 0 0 60px;
	@media @sm {
		width: 50%;
		float: left;
		padding: 0 0 0 15px;
	}
	.mod-title {
		text-transform: uppercase;
		font-weight: 900;
		line-height: 1.2;
		font-size: 24px;
		margin: 0 0 20px;
	}
	ul {
		.rul;
		li {
			.rli;
			.clearfix;
			clear: both;
			margin: 0 0 5px;
			&:before{
				position: static;
			}
			a {
				display: block;
				text-decoration: none;
				color: @c1;
				&:hover{
					color: @c2;
					figure {
						&:before{
							border-left-color: @c2;
						}
					}
					h2 {
						text-decoration: underline;
					}
				}
				figure {
					position: relative;
					width: 36%;
					float: left;
					margin: 3px 0;
					&:before {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						border-top: 16px solid #fff;
						border-left: 16px solid @c3;
					}
				}
				h2, h3 {
					float: left;
					width: 64%;
					font-weight: 600;
					text-transform: uppercase;
					font-size: 18px;
					margin: 0;
					padding: 0 0 0 20px;
				}
			}
		}
	}
}
.mod_banners {
	margin: 0 0 60px;
	@media @sm {
		float: left;
		width: 50%;
		padding: 0 0 0 15px;
	}
	ul {
		.rul;
		li {
			.rli;
			padding: 36px 50px 19px 0;
			margin: 0 0 50px;
			background: url(../images/bg/01.png) center;
			a {
				position: relative;
				display: block;
				padding: 13px 15px 15px 27px;
				font-weight: 600;
				line-height: 1.1;
				font-size: 17px;
				text-decoration: none;
				color: #fff;
				background: #000;
				&:hover{
					background: @c1;
				}
				.icon {
					position: absolute;
					top: 0;
					right: 0;
					width: 72px;
					height: 72px;
					line-height: 68px;
					margin: -17px -32px 0 0;
					text-align: center;
					font-size: 46px;
					&:before{
						.rotate(7deg);
						content: '';
						position: absolute;
						z-index: 1;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background: #e65400;
						background: -moz-linear-gradient(-45deg,  #fea600 0%, #e65400 100%);
						background: -webkit-linear-gradient(-45deg,  #fea600 0%,#e65400 100%);
						background: linear-gradient(135deg,  #fea600 0%,#e65400 100%);
					}
					&:after{
						.rotate(12deg);
						content: '';
						position: absolute;
						top: 10px;
						right: -5px;
						bottom: -5px;
						left: 5px;
						background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
						background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
						background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
					}
					span {
						position: relative;
						z-index: 2;
					}
				}
				mark {
					display: block;
					text-transform: uppercase;
					color: @c3;
					font-size: 36px;
					line-height: 1;
					font-weight: 900;
				}
			}
		}
	}
}
#page-footer {
	position: relative;
	padding: 45px 0 100px;
	background: #000;
	.container {
		text-align: center;
	}
	.copy {
		display: inline-block;
		color: #fff;
		font-size: 14px;
		a {
			color: #fff;
		}
	}
	.xart {
		display: inline-block;
		font-size: 12px;
		text-transform: uppercase;
		color: #fff;
		margin: 0 0 0 15px;
		padding: 0 0 0 15px;
		border-left: 1px solid #fff;
		img {
			float: right;
			width: 14px!important;
			margin: 1px 0 0 12px;
		}
		a {
			color: #999;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.mod_cookies {
	position: fixed;
	z-index: 999;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	font-size: 15px;
	background: fade(@c2,80%);
	@media @xs {
		position: static;
	}
	p {
		margin: 5px 0;
	}
	nav {
		position: absolute;
		bottom: 100%;
		right: 20px;
		a {
			.btn;
			background: fade(@c2,80%);
		}
	}
}
#gotop{
	@media @xs {
		display: none;
	}
	a{
		.transition(0.2s);
		.border-radius(10px);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: 'top';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}