html,body,button,input,select,textarea{
	.fp;
}
body{
	font-size: @fsp;
	line-height: @lhp;
	text-align: center;
	font-weight: normal;
	color: @cp;
	background: @bb;
}
h1,h2,h3,h4,h5,h6{
	.fh;
	margin: 0 0 10px;
	line-height: @lhh;
	font-weight: 900;
}
h1{
	font-size: 36px;
	text-transform: uppercase;
	margin: 0 0 30px;
}
h2{
	font-size: @fsp*1.9;
}
h3{
	font-size: @fsp*1.7;
}
h4{
	font-size: @fsp*1.5;
}
h5{
	font-size: @fsp*1.3;
}
h6{
	font-size: @fsp;
}
p{
	margin: 0 0 20px;
}
ul,ol{
	padding: 0;
	margin: 0 0 20px 20px;
}
ul ul,ul ol,ol ol,ol ul{
	margin-bottom: 0;
	margin-top: 0;
}
ul>li{
	position: relative;
	list-style-type: none;
	padding: 0 0 0 16px;
	margin: 0;
	&:before{
		.fi;
		position: absolute;
		top: 2px;
		left: 0;
		font-size: 16px;
		line-height: 1;
		content: '\e811';
	}
	&>ul{
		padding: 10px 0;
	}
}
ol{
	list-style:decimal;
	&>li{
		margin: 0 0 0 20px;
	}
	&>ol{
		padding: 10px 0;
	}
}
hr{
	margin: 0 0 20px;
	border: 0;
	border-top: 1px solid lighten(@c1,60%);
}
strong,b{
	font-weight: bold;
}
em,i{
	font-style:italic;
}
sup,sub{
	position: relative;
	vertical-align: baseline;
	font-size: 60%;
	line-height: 1;
}
sup{
	bottom:1.4ex;
}
sub{
	top:.7ex;
}
a{
	color: @cl;
	cursor: pointer;
	&:hover{
		text-decoration:none;
	}
}