nav.more{
	margin: 20px 0;
	text-align: right;
	a{
		.btn;
		&:after{
			.fi;
			position: relative;
			content: '\e811';
			margin: 0 0 0 10px;
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	background: lighten(@c3,35%);
	th,td{
		padding:6px 8px;
		border:1px solid lighten(@cp,100%);
		font-weight:normal;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: lighten(@c3,38%);
	}
	th,thead td{
		font-weight: bold;
		background: lighten(@c3,0%)!important;
	}
	tfoot td{
		background: lighten(@c3,30%)!important;
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display: block;
		margin: 0 0 10px 0;
		font-weight: bold;
	}
	.optgroup label{
		display: inline-block;
		font-weight: normal;
	}
	.fileinputs{
		position: relative;
		display: block;
		overflow: hidden;
		cursor: default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			font-size: 999em;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.fakefile {
			.clearfix;
			display: block;
			input[type="button"] {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}
.search-results .highlight,.results .highlight{
	background: @c3;
	padding: 0 3px;
}
.pagehub{
	clear: both;
	text-align: center;
	padding: 20px 0;
	a,span{
		.transition(0.2s);
		display: inline-block;
		vertical-align: middle;
		width: 38px;
		height: 38px;
		line-height: 38px;
		margin: 0 0 10px;
		text-align: center;
		text-decoration: none;
		color: @c1;		
		border: 1px solid #b2b2b2;
		&:hover{
			background: #f0f0f0;
		}
		&.first,&.prev,&.next,&.last {
			border-color: transparent;
			background: @c3;
			line-height: 32px;
			font-size: 30px;
			@media @xs {
				width: 50%;
				margin-left: -2px;
				margin-right: -2px;
			}
		}
		&.prev {
			margin-right: 10px;
		}
		&.next {
			margin-left: 10px;
		}
	}
	a {
		&.first,&.prev,&.next,&.last {
			&:hover{
				color: #fff;
				background: @c2;
			}
		}
	}
	span.pagenav{
		color: #fff;
		font-weight: 900;
		border-color: transparent;
		background: @c2;
	}
	span.pagenav-ico{
		color: #ccc;
		cursor: default;
		background: lighten(@c1,70%);
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 30px 0;
	height: 0;
	border-bottom: 15px solid transparent;
	border-right: 810px solid @c3;
	@media @md {
		border-right-width: 600px;
	}
	@media @sm {
		border-right-width: 700px;
	}
	@media @xs {
		border: 0;
		height: 7px;
		background: @c3;
	}
}
img.img-left,img[align=left]{
	float: left;
	margin: 5px 30px 10px 0;
	@media @xs {
		display: block;
		float: none;
		margin: 10px 0;
	}
}
img.img-right,img[align=right]{
	float: right;
	margin: 5px 0 10px 30px;
	@media @xs {
		display: block;
		float: none;
		margin: 10px 0;
	}
}
a.xeditorpopup img{
	.transition(0.2s);
	padding: 1px;
	border: 5px solid lighten(@cp,70%);
}
a.xeditorpopup:hover img{
	border-color: lighten(@cp,65%);
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		position: relative;
		padding: 10px 15px 10px 50px;
		margin: 0 0 15px 0;
		font-size: 15px;
		font-weight: 600;
		background: @c3;
		&:before{
			.fi;
			content: '\e804';
			position: absolute;
			top: 8px;
			left: 0;
			width: 50px;
			font-size: 26px;
			line-height: 1;
			text-align: center;
			font-weight: normal;
		}
		ul{
			.rul;
			li{
				.rli;
			}
		}
	}
	.notice{
		color: #fff;
		background: @c2;
		&:before{
			content: '\e805';
		}
	}
	.warning,.error{
		color: #fff;
		background: darken(red,15%);
		&:before{
			content: '\e806';
		}
	}
	.error{
		&:before{
			content: '\e807';
		}
	}
}
