@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?25919466');
  src: url('../font/icons.eot?25919466#iefix') format('embedded-opentype'),
       url('../font/icons.woff2?25919466') format('woff2'),
       url('../font/icons.woff?25919466') format('woff'),
       url('../font/icons.ttf?25919466') format('truetype'),
       url('../font/icons.svg?25919466#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?25919466#icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-dot-circled:before { content: '\e800'; } /* '' */
.icon-circle-empty:before { content: '\e801'; } /* '' */
.icon-check:before { content: '\e802'; } /* '' */
.icon-check-empty:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-menu:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-mobile:before { content: '\e80c'; } /* '' */
.icon-clock:before { content: '\e80d'; } /* '' */
.icon-home:before { content: '\e80e'; } /* '' */
.icon-down-open-mini:before { content: '\e80f'; } /* '' */
.icon-left-open-mini:before { content: '\e810'; } /* '' */
.icon-right-open-mini:before { content: '\e811'; } /* '' */
.icon-up-open-mini:before { content: '\e812'; } /* '' */
.icon-basket:before { content: '\e813'; } /* '' */
.icon-tool:before { content: '\e814'; } /* '' */
.icon-worker:before { content: '\e815'; } /* '' */
.icon-arr-thin-down:before { content: '\e816'; } /* '' */
.icon-arr-thin-left:before { content: '\e817'; } /* '' */
.icon-arr-thin-right:before { content: '\e818'; } /* '' */
.icon-arr-thin-up:before { content: '\e819'; } /* '' */
.icon-brick:before { content: '\e81a'; } /* '' */
.icon-electro:before { content: '\e81b'; } /* '' */
.icon-hand:before { content: '\e81c'; } /* '' */
.icon-mixer:before { content: '\e81d'; } /* '' */
.icon-down-open:before { content: '\e81e'; } /* '' */
.icon-left-open:before { content: '\e81f'; } /* '' */
.icon-right-open:before { content: '\e820'; } /* '' */
.icon-up-open:before { content: '\e821'; } /* '' */
.icon-check-1:before { content: '\e822'; } /* '' */
.icon-check-empty-1:before { content: '\e823'; } /* '' */