
.icon-dot-circled:before { content: '\e800'; } /* '' */
.icon-circle-empty:before { content: '\e801'; } /* '' */
.icon-check:before { content: '\e802'; } /* '' */
.icon-check-empty:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-menu:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-mobile:before { content: '\e80c'; } /* '' */
.icon-clock:before { content: '\e80d'; } /* '' */
.icon-home:before { content: '\e80e'; } /* '' */
.icon-down-open-mini:before { content: '\e80f'; } /* '' */
.icon-left-open-mini:before { content: '\e810'; } /* '' */
.icon-right-open-mini:before { content: '\e811'; } /* '' */
.icon-up-open-mini:before { content: '\e812'; } /* '' */
.icon-basket:before { content: '\e813'; } /* '' */
.icon-tool:before { content: '\e814'; } /* '' */
.icon-worker:before { content: '\e815'; } /* '' */
.icon-arr-thin-down:before { content: '\e816'; } /* '' */
.icon-arr-thin-left:before { content: '\e817'; } /* '' */
.icon-arr-thin-right:before { content: '\e818'; } /* '' */
.icon-arr-thin-up:before { content: '\e819'; } /* '' */
.icon-brick:before { content: '\e81a'; } /* '' */
.icon-electro:before { content: '\e81b'; } /* '' */
.icon-hand:before { content: '\e81c'; } /* '' */
.icon-mixer:before { content: '\e81d'; } /* '' */
.icon-down-open:before { content: '\e81e'; } /* '' */
.icon-left-open:before { content: '\e81f'; } /* '' */
.icon-right-open:before { content: '\e820'; } /* '' */
.icon-up-open:before { content: '\e821'; } /* '' */
.icon-check-1:before { content: '\e822'; } /* '' */
.icon-check-empty-1:before { content: '\e823'; } /* '' */